<!DOCTYPE html>
<html lang="en">

<head>
  <html lang="en">
<meta charset="UTF-8">
    <link  rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    
    <link rel="stylesheet" href="https://use.typekit.net/owx1fmo.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2.3.0/dist/flickity.min.css">
    <script src="https://kit.fontawesome.com/b086bff188.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#fffaf7">
    
   
  
  
                <p>General terms regarding sale of services :  Mou's Makeup & Nails</p>
                <br>
          
                <br>
                <p>Specific Terms of Service : Mou's Makeup & Nails</p>
                <br>
                <ol class="lishow">
                  <li>Minimum advance amount for any home/studio services will be Rs 500 &amp; appointment has to be taken 24 hours
                    in advance.</li>
                  <li>Appointment has to be made via the website or via the text message on whatsapp or call.</li>
                  <li>Once the appointment is confirmed the customer will get a digital bill receipt. </li>
                  <li>Appointment once confirmed and booked, will be not be cancelled.</li>
                  <li>In case of a cancellation of the services from our end. Due to any reason beyond our control the
                    advance payment (if any) of 100% be carried forward to the next preferred date given by the customer
                    or will be refunded within 2 working days. (E.g. Strike, natural disaster etc.)</li>
                  <li>In case the cancellation by any reason is from your end, we request you to kindly inform us,
                    two-hour prior, to save our valuable time. We would hence reschedule your appointment as per your
                    request at any day and time of your choosing.</li>
                  <li>If cancelation is done at you end on arrival of the beautician, for loss of time and conveyance charges - advance amount shall not be
                    refunded .&nbsp;</li>
                  <li>Home/Studio services are provided by females and for females.</li>
                  <li>Our trained beauticians will arrive atleast 15 mins before the time of services as required by you
                    and would also communicate regarding the same.</li>
                  <li>It is the entire responsibility of the person booking the service and the apartment / residence
                    owner to ensure that the female beauticians visiting their premises are professionally respected and
                    their personal physical or emotional&nbsp;safety is not breached under any circumstances.</li>
                  <li>Any deliberate abuse of the professional beauticians, their personal &amp; emotional safety will
                    result in criminal prosecution of the customer in the jurisdiction of a court in Kolkata.</li>
                  <li>Timing are from 08:00 a.m. to 08:00 p.m. only. For any other timings being before 08:00 a.m. or after
                    08:00 p.m., the customer has to contact via phone call and make an appointment atleast 2 days in
                    advance.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer -->
</html>